/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif; 
    margin: 0; 
    padding: 0;
}

/* COMMON */

body a, button, .btn {
    cursor: pointer !important;
}

a {
    text-decoration: none !important;
}

.position-relative {
    position: relative!important;
}

.position-absolute {
    position: absolute !important;
}

nav {
    margin: 0;
    padding: 0;
}

/* img */
img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}

/* button */
.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 8px;
}

.btn-video {
    display: inline-block;
    color: #009f4d;
    width: 70px;
    height: 70px;
    font-size: 22px;
    padding-left: 5px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    border: 3px solid #009f4d;
}

.fa {
    display: inline-blocks;
}

.control {
    cursor: pointer;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

/* container */
.container {
    max-width: 1200px;
}

nav ul li {
    display: inline-block;
}

nav ul li a, nav ul li a:after, nav ul li a:before{
    transition: all .5s;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #3f3a64;
    clear: both;
}

li {
    list-style-type: none!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

a:hover {
    color: #005a22;
    text-decoration: underline;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

/* HEADER SECTION */
header.nav-fixed {
    padding: 0px;
    background-color: #fff;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

header.main-header {
    transition: all 0.4s ease 0s;
    padding: 20px;
    height: auto;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.navbar {
    justify-content: space-between;
    padding: 0;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #3f3a64;
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
}

.navbar .navbar-brand span.fa {
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}

.navbar .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

button.navbar-toggler.collapsed .icon-close,
button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
    color:  #009f4d;
    opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
    color: #3f3a64;;
    opacity: 0.7;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: all 0.5s ease;
    padding: 14px 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    opacity: .8;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background:  #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}

a.dropdown-item {
    font-size: 15px;
    color: #3f3a64;
    background: none;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
}

.control .btn-material {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.control .icon-material-search {
    color: #FFF;
    transition: opacity 0.3s ease-in-out;
}

.header-search .icon-close {
    position: absolute;
    /* color: #FFF; */
    color: pink;
    cursor: pointer;
    font-size: 70px;
    /* opacity: 0; */
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.search-input {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

.search-input input {
    color: #fff !important;
    font-size: 54px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}

.theme-switch input {
    display: none;
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.mode-container i {
    color: #3f3a64;
    opacity: 0.9;
}

/* sun icon */
.mode-container i.gg-sun {
    display: none;
}

.gg-sun, .gg-sun:after, .gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
    color: #eee;
}

/* moon icon */
.mode-container i.gg-moon {
    display: block;
}

.nav-fixed .gg-moon, .nav-fixed .gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    color: #3f3a64;
}

/* BANNER SECTION */
.banner-wrap {
    height: auto;
    position: relative;
    overflow: hidden;
}

.banner-slider {
    height: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
}

.banner-slider .slick-arrow.slick-prev {
    right: 95px;
    left: 0;
}

.banner-slider .slick-arrow {
    display: block;
    position: absolute;
    right: 25px;
    bottom: 50px;
    font-size: 0;
    background:  #fff;
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.banner-slider .slick-arrow:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-align: center;
    line-height: 46px;
    color: #3f3a64;
}

.slick-slider .slick-track, 
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-initialized .banner-slide {
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex !important;
    align-items: center;
}

.bg1 {
    background: url(../css/image/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.bg2 {
    background: url(../css/image/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.bg3 {
    background: url(../css/image/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.bg4 {
    background: url(../css/image/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.banner-wrap .container {
    position: relative;
    z-index: 12;
}

.banner-content {
    color: #ffffff;
}

.banner-content h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    color: #FFF;
    max-width: 800px;
    font-weight: 600;
    animation-delay: 0.8s;
    color: rgb(255, 255, 255);
}

.banner-content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
}

.banner-content .cta-btn {
    margin-top: 30px;
}

.banner-overlay {
    background: rgba(29, 42, 55, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}