/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif; 
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #666;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(29, 42, 55, 0.7);
}

/* COMMON */

body a, button, .btn {
    cursor: pointer !important;
}

a {
    text-decoration: none !important;
}

.position-relative {
    position: relative!important;
}

.position-absolute {
    position: absolute !important;
}

nav {
    margin: 0;
    padding: 0;
}

/* img */
img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}

/* button */
.btn-primary {
    color: var(--bg-color);
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    color: var(--bg-color);
    background-color: #008030;
    border-color: #00732c;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 8px;
}

.btn-video {
    display: inline-block;
    color: var (--primary-color);
    width: 70px;
    height: 70px;
    font-size: 22px;
    padding-left: 5px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    border: 3px solid var(--primary-color);
}

.fa {
    display: inline-blocks;
}

.control {
    cursor: pointer;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: var(--font-color);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

/* container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

nav ul li {
    display: inline-block;
}

nav ul li a, nav ul li a:after, nav ul li a:before{
    transition: all .5s;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    clear: both;
}

li {
    list-style-type: none!important;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: .8;
}

a:hover {
    color: #005a22;
    text-decoration: underline;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

/* PULL RIGHT BAR */
.pull-right-demo-bar {
    float: right;
    position: fixed;
    right: 0px;
    top: 150px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}

.toggle-right-sidebar span {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}

#right-sidebar {
    width: 90px;
    position: fixed;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 140px;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

.hide-right-bar-notifications {
    margin-right: -300px !important;
}

#demoBar.demo-bar {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px 10px;
    padding-top: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#demoBar.demo-bar .demo-btns {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}

#demoBar.demo-bar a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}

#demoBar.demo-bar span.demo-icon {
    display: block;
}

span.demo-icon.-back span.fa {
    position: static;
    color: #e6ebff;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInRight {
    animation-name: fadeInRight;
}
/* HEADER SECTION */
header.nav-fixed {
    padding: 0px;
    background-color: transparent;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.changeHeight {
    height: auto!important;
    padding: 0px!important;
}

.changeColor {
    background-color: #fff!important;
}

.fontColor {
    color: #3f3a64!important;
}

.navActiveColor {
    color: var(--primary-color)!important;
}

.navColor {
    color: var(--heading-color)!important;
}

.iconColor {
    color: var(--heading-color)!important;
}

header.main-header {
    transition: all 0.4s ease 0s;
    padding: 20px;
    height: auto;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.navbar {
    justify-content: space-between;
    padding: 0;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
}

.navbar .navbar-brand span.fa {
    color: var(--primary-color);
    margin-right: 5px;
    vertical-align: bottom;
}

.navbar .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}

/* nav-toggler */

button.navbar-toggler {
    background-color: var(--primary-color);
}


button.navbar-toggler.collapsed .icon-close,
button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
    /* color: var(--heading-color); */
    color: #fff;
    opacity: 0.7;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary-color);
    opacity: 1;
    font-size: 15px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: all 0.5s ease;
    padding: 14px 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--bg-color);
    opacity: .8;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background-color:  var(--bg-color);
    border: 1px solid #eee;
    border-radius: 8px;
}

a.dropdown-item {
    font-size: 15px;
    color: var(--heading-color);
    background-color: none;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
}

/* responsive nav */
@media only screen and (min-width: 768px) {
    header.main-header {
        height: auto;
        padding: 20px 0;
    }
    
    .navbar-nav {
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;
    }
}

header.active {
    background: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 992px) {
    header.active {
        background-color: transparent;
    }
}

@media only screen and (max-width: 991px) {
    .header-search {
        position: absolute;
        right: 80px;
        top: 10px;
    }
    .mobile-position {
        position: absolute;
        right: 62px;
        top: 18px;
    }
    .navbar-dark .navbar-nav .nav-link {
        text-align: center;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
        text-align: center;
    }
}

.control .btn-material {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.control .icon-material-search {
    color: var(--bg-color);
    transition: opacity 0.3s ease-in-out;
}

.header-search .icon-close {
    position: absolute;
    color: var(--bg-color);
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.search-input {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

.search-input input {
    color: var(--bg-color);
    font-size: 54px;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}

.theme-switch input {
    display: none;
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.mode-container i {
    /* color: var(--heading-color); */
    color: #fff;
    opacity: 0.9;
}

/* sun icon */
.mode-container i.gg-sun {
    display: none;
}

.gg-sun, .gg-sun:after, .gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
    /* color: #eee; */
}

/* moon icon */
.mode-container i.gg-moon {
    display: block;
}

.nav-fixed .gg-moon, .nav-fixed .gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    /* color: var(--heading-color); */
}

/* BANNER SECTION */
.banner-wrap {
    height: auto;
    position: relative;
    overflow: hidden;
}

.banner-slider {
    height: 100%;
    /* min-height: 100vh; */
    position: relative;
    display: grid;
    align-items: center;
}

.slick-slider .slick-track, 
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
    height: 800px;
}

.slick-initialized .banner-slide {
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex !important;
    align-items: center;
}

.bg1 {
    background-image: url(../css/image/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.bg2 {
    background-image: url(../css/image/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.bg3 {
    background-image: url(../css/image/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.bg4 {
    background-image: url(../css/image/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat,
            no-repeat,
            no-repeat;
    background-position: top;
    width: 100%;
    display: inline-block;
}

.banner-wrap .container {
    position: relative;
    z-index: 12;
}

.banner-content {
    color: var(fff);
}

.banner-content h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    color: var(--bg-color);
    max-width: 800px;
    font-weight: 600;
    animation-delay: 0.8s;
    color: rgb(255, 255, 255);
}

.banner-content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: var(--bg-color);
    letter-spacing: 0.010em;
    opacity: .9;
}

.banner-content .cta-btn {
    margin-top: 30px;
}

.banner-overlay {
    background-color: rgba(29, 42, 55, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* slick arrow */
.banner-slider .slick-arrow {
    display: block;
    position: absolute;
    bottom: 50px;
    font-size: 0;
    background-color: var(--bg-color);
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.banner-slider .slick-bg:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-align: center;
    line-height: 46px;
    color: var(--heading-color);
}

.slick-bg i,
.slick-bg i {
    z-index: 20;
    font-size: 16px;
}

.banner-slider .slick-preslide {
    right: 100px;
    bottom: 250px;
}

.banner-slider .slick-nextslide {
    right: 25px;
    bottom: 250px;
}

/* shape */
.shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.shape svg {
    width: 100%;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.shape path {
    fill: var(--bg-color);
}


/* ABOUT SECTION */
.about span {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    position: relative;
}

.about li {
    cursor: pointer;
}

.about i {
    color:  var(--primary-color);
    margin-right: 5px;
    opacity: .8;
}

.radius-image {
    border-radius: 8px;
}

/* WORK SECTION */
.work {
    background-color: var(--bg-grey);
}

.work .box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.work .box-wrap {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: var(--bg-color);
    transition: .3s ease;
}

.work .box-wrap:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
}

.work .box-wrap img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

.work .box-wrap h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: var(--heading-color);
    transition: all .5s;
}

.work .box-wrap h4 a:hover {
    color: var(--primary-color);
}

/* SERVICES SECTION */
.service-info img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.service-content {
    padding: 0 20px;
    position: relative;
}

.service-content a:first-of-type {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    text-align: center;
    background:  var(--bg-color);
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid  transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: all .5s;
}

.service-content a:first-of-type:hover {
    color: var(--primary-color);
}

.service-content p {
    margin-top: -10px;
}

.service-content a:last-of-type {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: var(--heading-color);
    border-radius: 8px;
    transition: all .5s;
}

.service-content a:last-of-type:hover {
    color: var(--primary-color);
}

/* GALLERY SECTION */
.project {
    background-color: var(--bg-grey);
}

.project-img {
    overflow: hidden;
}

.project-img img {
    transition: all .2s ease-in-out;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.project-img:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.project .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    opacity: 0;
    z-index: 1;
}

.project-img:hover .img-overlay {
    opacity: 1;
}

.overlay-details {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 0;
    padding: 10%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.project-img:hover .overlay-details {
    opacity: 1;
    margin-top: -100px;
}

.overlay-details h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--bg-color);
    display: block;
    margin-bottom: 10px;
}

.overlay-details p {
    font-size: 18px;
    color: #eee;
    display: block;
}

.company-logos {
    border-top: 1px solid #eee;
}

.company-logos img {
    padding: 0 18px;
}

/* RESULT SECTION */
.result .progress-info {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.result h6.progress-tittle {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 400;
}

.result .col-lg-6 img {
    width: 100%;
}

.result .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color:var(--bg-grey);
    border-radius: 0.25rem;
}

.result .progress-bar-striped {
    background-image: none;
    background-size: cover;
}

.result .progress-bar {
    transition: width 0.6s ease;
}

/* progress 1 */
.result .info1 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.result .progress-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/* progress 2 */
.result .info2 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}

.result .progress-bar.gradient-2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

/* progress 3 */
.result .info3 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}

.result .progress-bar.gradient-3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

/* progress 4 */
.result .info4 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}

.result .progress-bar.gradient-4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

/* progress round gradient */
.result .progress-bar.gradient-1:after, 
.result .progress-bar.gradient-2:after, 
.result .progress-bar.gradient-3:after, 
.result .progress-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color:  var(--bg-color);
}

.result .progress-bar.gradient-1:before,
.result .progress-bar.gradient-2:before,
.result .progress-bar.gradient-3:before,
.result .progress-bar.gradient-4:before {
    content: "";
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

/* pro 1 */
.result .progress-bar.gradient-1:after, .result .progress-bar.gradient-1:before {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* pro 2 */
.result .progress-bar.gradient-2:after, .result .progress-bar.gradient-2:before {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* pro 3 */
.result .progress-bar.gradient-3:after, .result .progress-bar.gradient-3:before {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* pro 4 */
.result .progress-bar.gradient-4:after, .result .progress-bar.gradient-4:before {
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* TESTIMONIALS SECTION */
.testimonials {
    background-color: var(--bg-grey);
}

.testimonials .item {
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.item-person{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
    margin: 1rem 0 0;
}

.item .item-person img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
    object-position: center;
}

.person-name h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.person-name p.indentity {
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
}

.owl-dots {
    margin-top: 30px;
    text-align: center;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
    border: none;
    margin: 0 5px;
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #aaa;
    display: block;
    transition: opacity .2s ease;
    position: relative;
    opacity: 0.9;
    border-radius: 8px;
    transition: all .3s;
}

.owl-dots .owl-dot.active span, 
.owl-dots .owl-dot:hover span {
    background: var(--secondary-color);
    opacity: 1;
    transform: scale(1.5);
}

/* BLOG SECTION */
.card {
    border: none;
    background: none;
    box-shadow: 0 20px 40px 0 rgb(50 65 141 / 12%);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid transparent;
    transition: all 0.3;
}

.card-img-wrap {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.card:hover .card-img-top {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.card-img-top {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: 0.3s ease-in-out;
}

.card-body a p {
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.card-body>p {
    display: block;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
    margin-bottom: 0;
    transition: all .5s;
    cursor: pointer;
    opacity: 1;
}

.card-body>p:hover {
    color: #00a63f;
    text-decoration: none;
}

.card-footerInfo {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.card-footer {
    background-color: white;
    border-top: 1px solid #eee;
}

.card-footerInfo li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-footerInfo ul,
.card-footerInfo p {
    padding: 0;
    margin: 0;
}

.author-info span {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
    opacity: .6;
}

.author-info li a {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    transition: all .5s;
}

.author-info a:hover {
    color: #00a63f;
    text-decoration: none;
}

.author-date>p {
    font-size: 15px;
    color: var(--heading-color);
    line-height: 27px;
    text-transform: capitalize;
    opacity: .8;
}

/* SUBCRIBE SECTION */
.subcribe {
    background-image: url(./image/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-info {
    max-width: 700px;
    margin: 0 auto;
}

.subcribe h3.title-big {
    color: var(--bg-color);
}

.subcribe p {
    color: #eee;
}

form.subscribe {
    margin-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.subscribe .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.subscribe input[type="email"] {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #eee;
    outline: none;
    width: 100%;
    background:  var(--bg-color);
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}

.subscribe button.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 16px;
}

/* FOOTER */
/* main footer */
footer {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer-main .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--bg-color);
    opacity: 1;
}

.footer-main .navbar-brand span.fa {
    color: var(--primary-color);
    margin-right: 5px;
    vertical-align: bottom;
}

.footer-main .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}

.footer-main p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.footer-main a {
    margin-right: 15px;
    display: inline-block;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: .6;
}

.footer-main h6.footer-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: .5px;
}

.footer-main a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
}

.footer-main a:hover {
    color: var(--bg-color);
    opacity: 1;
}

/* copyright */
.copyright {
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.copyright-content {
    align-self: center;
    color: #7f8a94;
    font-size: 17px;
    letter-spacing: .5px;
    opacity: 1;
}

.copyright-content a {
    color: var(--primary-color);
    transition: all .3s;
}

.copyright-content a:hover {
    color: var(--bg-color);
    opacity: 1;
}

/* BACK TO TOP */
/* .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
  
.cd-top--fade-out {
    opacity: .5;
} */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--bg-color);
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}
  
#myBtn:hover {
    opacity: .8;
}

  